#   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
#  / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
# `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'
#
#               Example environment configuration
#
#   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
#  / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
# `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'

# By default, the examples support both mnemonic-based and private key-based authentication
# 
# You don't need to set both of these values, just pick the one that you prefer and set that one
PRIVATE_KEY="face14144630b3f794713a6f4384f88d6f2f1f598d1f7c0cbcb73ca79e7b3b1f"
BASE_API_KEY="XEQZ5JXG4ZN3TWF8IIUU9R1M27ZRHP6162"
OPTIMISM_API_KEY="32GXFMVJ4YNT32M2I5YTUJR1YKAY9K7RA3"
ARBITRUM_API_KEY="YOUR_ARBITRUM_API_KEY_HERE"